#createBuilding.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Додати об'єкт
        button.btn-close(data-bs-dismiss='modal')

      .modal-body
        .mb-3
          label.form-label(for='createBuildingName') Назва
          input#createBuildingName.form-control.ih-input(type="text", tabindex="1")
          .invalid-feedback Поле має бути заповнено

        .mb-3
          label.form-label(for='createBuildingRegionName') Регіон
          input#createBuildingRegionName.form-control.ih-input(list='createBuildingRegionNameDatalist', placeholder='Введіть для пошуку...', tabindex="2")
          datalist#createBuildingRegionNameDatalist
          .invalid-feedback Поле має бути заповнено

        .mb-3
          label.form-label Координати
          .input-group
            input.form-control.ih-input#createBuildingX(type='text' placeholder='x', tabindex="3")
            input.form-control.ih-input#createBuildingY(type='text' placeholder='y', tabindex="4")
            button.btn.btn-secondary#createBuildingGetMap Вказати на мапі
            .invalid-feedback Поля мають бути заповнені

        .mb-3
          label.form-label(for='createBuildingListEquipment') Обладнання
          input#createBuildingListEquipment.form-control.ih-input(type="text", placeholder="Введіть обладнання через кому", tabindex="5")
          .invalid-feedback Поле має бути заповнено

        .mb-3
          label.form-label(for='createBuildingComment') Коментар
          textarea#createBuildingComment.form-control.ih-input(rows="3", , tabindex="6")

      .modal-footer
        button.btn.btn-primary#createBuildingButton(tabindex="7") Додати