extends ../app

block variables
  -
    const pageTitle = `Мої об'єкти`;

block content
  include ../modals/createReport
  include ../modals/createBuilding
  include ../modals/updateBuilding

  .page.buildings
    .container-fluid
      include ../includes/header

      .ih-sorting
        .col-3
          .input-group.ih-sorting-option
            span#status.input-group-text Статус
            select.form-select(aria-describedby='status')
              option(selected='') Усі
              option(value='created') Створено
              option(value='reserved') Зарезервовано
              option(value='inProcess') Обробка звіту
              option(value='approved') Затверджено
              option(value='rejeted') Відхилено

          .input-group
            span#createdAt.input-group-text Дата створення
            select.form-select(aria-describedby='createdAt')
              option(selected='', value='asc') За зростянням
              option(value='desc') За спаданням
        
        .col-3.ih-add-building
          button.btn.btn-primary(data-bs-toggle="modal" data-bs-target="#createBuilding") + Додати об'єкт

      .ih-list-building
        .ih-building-container.col-4
          .ih-building(data-bs-toggle="tooltip" data-bs-placement="top" title="Якийсь дужееееее довгиииииий комментар")
            .ih-status
              span 23.05.23 10:20
              span Зарезервовано

            .ih-building-body
              .ih-building-image.col-4
                img(src="/images/no-photo.png", alt="no-photo")

              .ih-building-info.col-8
                span SomeName (Вінницька обл.)
                span x: 324.324.324
                span y: 324.324.324

            .ih-buttons
              button.btn.btn-secondary(data-bs-toggle="modal" data-bs-target="#updateBuilding") Редагувати
              button.btn.btn-secondary(data-bs-toggle="modal" data-bs-target="#createReport") Додати звіт

        .ih-building-container.col-4
          .ih-building(data-bs-toggle="tooltip" data-bs-placement="top" title="Якийсь дужееееее довгиииииий комментар")
            .ih-status
              span 23.05.23 10:20
              span Зарезервовано

            .ih-building-body
              .ih-building-image.col-4
                img(src="/images/no-photo.png", alt="no-photo")

              .ih-building-info.col-8
                span SomeName (Вінницька обл.)
                span x: 324.324.324
                span y: 324.324.324

            .ih-buttons
              button.btn.btn-secondary(data-bs-toggle="modal" data-bs-target="#updateBuilding") Редагувати
              button.btn.btn-secondary(data-bs-toggle="modal" data-bs-target="#createReport") Додати звіт

        .ih-building-container.col-4
          .ih-building(data-bs-toggle="tooltip" data-bs-placement="top" title="Якийсь дужееееее довгиииииий комментар")
            .ih-status
              span 23.05.23 10:20
              span Зарезервовано

            .ih-building-body
              .ih-building-image.col-4
                img(src="/images/no-photo.png", alt="no-photo")

              .ih-building-info.col-8
                span SomeName (Вінницька обл.)
                span x: 324.324.324
                span y: 324.324.324

            .ih-buttons
              button.btn.btn-secondary(data-bs-toggle="modal" data-bs-target="#updateBuilding") Редагувати
              button.btn.btn-secondary(data-bs-toggle="modal" data-bs-target="#createReport") Додати звіт

        .ih-building-container.col-4
          .ih-building(data-bs-toggle="tooltip" data-bs-placement="top" title="Якийсь дужееееее довгиииииий комментар")
            .ih-status
              span 23.05.23 10:20
              span Зарезервовано

            .ih-building-body
              .ih-building-image.col-4
                img(src="/images/no-photo.png", alt="no-photo")

              .ih-building-info.col-8
                span SomeName (Вінницька обл.)
                span x: 324.324.324
                span y: 324.324.324

            .ih-buttons
              button.btn.btn-secondary(data-bs-toggle="modal" data-bs-target="#updateBuilding") Редагувати
              button.btn.btn-secondary(data-bs-toggle="modal" data-bs-target="#createReport") Додати звіт

        .ih-building-container.col-4
          .ih-building(data-bs-toggle="tooltip" data-bs-placement="top" title="Якийсь дужееееее довгиииииий комментар")
            .ih-status
              span 23.05.23 10:20
              span Зарезервовано

            .ih-building-body
              .ih-building-image.col-4
                img(src="/images/no-photo.png", alt="no-photo")

              .ih-building-info.col-8
                span SomeName (Вінницька обл.)
                span x: 324.324.324
                span y: 324.324.324

            .ih-buttons
              button.btn.btn-secondary(data-bs-toggle="modal" data-bs-target="#updateBuilding") Редагувати
              button.btn.btn-secondary(data-bs-toggle="modal" data-bs-target="#createReport") Додати звіт

        .ih-building-container.col-4
          .ih-building(data-bs-toggle="tooltip" data-bs-placement="top" title="Якийсь дужееееее довгиииииий комментар")
            .ih-status
              span 23.05.23 10:20
              span Зарезервовано

            .ih-building-body
              .ih-building-image.col-4
                img(src="/images/no-photo.png", alt="no-photo")

              .ih-building-info.col-8
                span SomeName (Вінницька обл.)
                span x: 324.324.324
                span y: 324.324.324

            .ih-buttons
              button.btn.btn-secondary(data-bs-toggle="modal" data-bs-target="#updateBuilding") Редагувати
              button.btn.btn-secondary(data-bs-toggle="modal" data-bs-target="#createReport") Додати звіт

block scripts
