extends ../app

block variables
  -
    const pageTitle = `База знань`;

block content
  .page.public-files
    .container-fluid
      include ../includes/header

      .ih-files
        //- .ih-file-container.col-12.col-xl-4
        //-   .card
        //-     .card-body
        //-       h5.card-title Заголовок
        //-       p.card-text Опис файлу, може бути доволі великий. Опис файлу, може бути доволі великий Опис файлу, може бути доволі великий
        //-       a.btn.btn-secondary.float-end(href='/images/no-photo.png', download="no-photo.png") Завантажити

block scripts
  script(src='/javascripts/web/publicFiles.js')