.col-12.mx-auto.ih-help
  .ih-contact
    .col-1.ih-contact-img
      img(src="/images/telegram.png", alt="telegram")
    .col-10
      span @Arcdie
  
  .ih-contact
    .col-1.ih-contact-img
      img(src="/images/phone.png", alt="phone")
    .col-10
      span +38 (067) 067 06 07
  
  .ih-contact
    .col-1.ih-contact-img
      img(src="/images/envelope.png", alt="envelope")
    .col-10
      span some.mail@gmail.com