.col-12.mx-auto.ih-help
  .ih-contact
    .col-1.ih-contact-img
      img(src="/images/telegram.png", alt="telegram")
    .col-10
      a(href="https://t.me/i_zamfa", target="_blank") @i_zamfa
  
  .ih-contact
    .col-1.ih-contact-img
      img(src="/images/phone.png", alt="phone")
    .col-10 
      span +38 (067) 308 99 09
  
  .ih-contact
    .col-1.ih-contact-img
      img(src="/images/envelope.png", alt="envelope")
    .col-10
      a(href= `mailto:${settings.config.app.name}`) #{settings.config.app.name}