doctype html

include ./includes/head
	
body
	block content

	include ./includes/footer

	.alerts.col-11.col-md-5

	script(src='/libs/jquery.min.js')
	script(src='/libs/bootstrap.min.js')
	script(src='/javascripts/helper.js')
	script(src='/javascripts/common.js')

	block scripts
