#updateReport.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Редагувати звіт
        button.btn-close(data-bs-dismiss='modal')

      .modal-body
        .mb-3
          label.form-label(for='updateReportListEquipment') Обладнання
          input#updateReportListEquipment.form-control.ih-input(type="text", placeholder="Введіть обладнання через кому", tabindex="1")

        .mb-3
          label.form-label(for='updateReportListSerialNumber') Серійні номери
          input#updateReportListSerialNumber.form-control.ih-input(type="text", placeholder="Введіть серійні номери через кому", tabindex="2")

        .mb-3
          label.form-label(for='updateReportComment') Коментар
          textarea#updateReportComment.form-control.ih-input(rows="3", tabindex="3")

        .mb-3
          .ih-container-file#updateReportFiles

          .input-group.ih-add-file
            button.btn.btn-secondary(title="Додати файл") + Файл

      .modal-footer
        button.btn.btn-primary#updateReportButton(tabindex="4") Редагувати
