header
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      ul.navbar-nav
        li.nav-item
          a.nav-link.link-primary(href="/buildings") Об'єкти
      
        li.nav-item
          a.nav-link.link-primary(href='/publicFiles') База знань

      ul.navbar-nav.ih-logotype
        li.nav-item
          a(href='/')
            //- img(src='/images/auxhp.png', alt='auxhp')
            //- img(src='/images/thermav.png', alt='thermav')


      ul.navbar-nav
        a.nav-link.link-primary(href='/auth/logout') Вийти
