header
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      ul.navbar-nav
        li.nav-item
          a.nav-link.link-primary(href="/buildings") Об'єкти

        if (user.role === 0)
          li.nav-item
          a.nav-link.link-primary(href='/users') Користувачі
      
        li.nav-item
          a.nav-link.link-primary(href='/publicFiles') База знань

      ul.navbar-nav.ih-logotype
        li.nav-item
          a(href='/')

      ul.navbar-nav
        a.nav-link.link-primary(href='/auth/logout') Вийти
