body {
  background: url("/images/background.png") repeat; }

.alerts {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 9999999; }
  .alerts .alert {
    padding: 30px;
    display: flex;
    justify-content: space-between; }

.page {
  width: 100%;
  height: 100%;
  padding: 50px; }

header {
  margin-bottom: 20px; }
  header .ih-logotype img {
    width: 60px; }

.page.auth .form {
  padding: 30px 20px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .page.auth .form .ih-input {
    margin-bottom: 20px; }
    .page.auth .form .ih-input .ih-label {
      margin-bottom: 8px; }
  .page.auth .form .ih-help {
    margin-top: 20px; }
    .page.auth .form .ih-help .ih-contact {
      display: flex;
      justify-content: space-around;
      margin-bottom: 5px; }
      .page.auth .form .ih-help .ih-contact a {
        text-decoration: none; }
      .page.auth .form .ih-help .ih-contact .ih-contact-img {
        display: flex;
        justify-content: center; }
        .page.auth .form .ih-help .ih-contact .ih-contact-img img {
          width: 20px; }
  .page.auth .form .ih-enterance {
    margin-top: 20px;
    margin-bottom: 20px; }
    .page.auth .form .ih-enterance .ih-enterance-actions {
      display: flex;
      justify-content: space-between; }
      .page.auth .form .ih-enterance .ih-enterance-actions div {
        display: flex;
        align-items: center; }

.page.users .ih-sorting {
  padding: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .page.users .ih-sorting div:last-child .ih-sorting-option {
    margin-bottom: 0; }
  .page.users .ih-sorting .ih-sorting-option {
    margin-bottom: 15px; }
  .page.users .ih-sorting .ih-add-building button {
    float: right; }

.page.users .ih-user-list-admin {
  padding: 15px;
  background-color: white;
  margin-top: 20px; }
  .page.users .ih-user-list-admin table tr th {
    text-align: center; }
  .page.users .ih-user-list-admin table tr td {
    text-align: center; }
    .page.users .ih-user-list-admin table tr td span {
      display: block; }
    .page.users .ih-user-list-admin table tr td input {
      text-align: center; }

#map {
  width: 100%;
  height: 650px; }

.modal#createReport .ih-file, .modal#updateReport .ih-file {
  display: flex;
  align-items: center;
  margin-bottom: 10px; }
  .modal#createReport .ih-file.ih-file-new button.ih-close, .modal#updateReport .ih-file.ih-file-new button.ih-close {
    display: block; }
  .modal#createReport .ih-file.ih-file-uploaded a, .modal#updateReport .ih-file.ih-file-uploaded a {
    display: flex; }
  .modal#createReport .ih-file.ih-file-uploaded button.ih-close, .modal#updateReport .ih-file.ih-file-uploaded button.ih-close {
    display: block; }
  .modal#createReport .ih-file .ih-choose-file input[type=file], .modal#updateReport .ih-file .ih-choose-file input[type=file] {
    width: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0; }
  .modal#createReport .ih-file .ih-choose-file input[type=text], .modal#createReport .ih-file .ih-choose-file span, .modal#updateReport .ih-file .ih-choose-file input[type=text], .modal#updateReport .ih-file .ih-choose-file span {
    position: relative;
    z-index: 1; }
  .modal#createReport .ih-file a, .modal#updateReport .ih-file a {
    display: none;
    justify-content: center; }
    .modal#createReport .ih-file a img, .modal#updateReport .ih-file a img {
      width: 75%; }
  .modal#createReport .ih-file button.ih-close, .modal#updateReport .ih-file button.ih-close {
    display: none;
    margin-left: 6px; }

.modal#createReport .ih-add-file, .modal#updateReport .ih-add-file {
  display: flex;
  justify-content: flex-end; }

.page.buildings .ih-sorting {
  padding: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .page.buildings .ih-sorting .ih-sorting-option {
    margin-bottom: 15px; }
  .page.buildings .ih-sorting .ih-add-building button {
    float: right; }

.page.buildings .ih-building-list-admin {
  padding: 15px;
  background-color: white;
  margin-top: 20px; }
  .page.buildings .ih-building-list-admin table {
    font-size: 1vw; }
    .page.buildings .ih-building-list-admin table button {
      font-size: 1vw; }
    .page.buildings .ih-building-list-admin table tr th {
      text-align: center; }
      .page.buildings .ih-building-list-admin table tr th.ih-building-number {
        width: 3%; }
      .page.buildings .ih-building-list-admin table tr th.ih-building-status {
        width: 12%; }
      .page.buildings .ih-building-list-admin table tr th.ih-building-created {
        width: 11%; }
      .page.buildings .ih-building-list-admin table tr th.ih-building-client {
        width: 16%; }
      .page.buildings .ih-building-list-admin table tr th.ih-building-name {
        width: 11%; }
      .page.buildings .ih-building-list-admin table tr th.ih-building-region {
        width: 10%; }
      .page.buildings .ih-building-list-admin table tr th.ih-building-coordinates {
        width: 9%; }
      .page.buildings .ih-building-list-admin table tr th.ih-building-equipment {
        width: 21%; }
      .page.buildings .ih-building-list-admin table tr th.ih-building-button {
        width: 7%; }
    .page.buildings .ih-building-list-admin table tr td {
      text-align: center; }
      .page.buildings .ih-building-list-admin table tr td span {
        display: block; }
      .page.buildings .ih-building-list-admin table tr td input {
        text-align: center; }

.page.buildings .ih-list-building {
  padding: 15px;
  background-color: white;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; }
  .page.buildings .ih-list-building .ih-building-container {
    margin-bottom: 15px;
    padding-left: 7px;
    padding-right: 7px; }
    .page.buildings .ih-list-building .ih-building-container .ih-building {
      padding: 15px;
      border: 1px solid #6c757d; }
      .page.buildings .ih-list-building .ih-building-container .ih-building.ih-Created {
        border-color: black; }
      .page.buildings .ih-list-building .ih-building-container .ih-building.ih-Reserved {
        border-color: #06b00c; }
      .page.buildings .ih-list-building .ih-building-container .ih-building.ih-InProcess {
        border-color: #d3c100; }
      .page.buildings .ih-list-building .ih-building-container .ih-building.ih-Approved {
        border-color: #0090e2; }
      .page.buildings .ih-list-building .ih-building-container .ih-building.ih-Rejected {
        border-color: #ffa3a3; }
      .page.buildings .ih-list-building .ih-building-container .ih-building .ih-status {
        position: relative;
        display: flex;
        justify-content: space-between; }
        .page.buildings .ih-list-building .ih-building-container .ih-building .ih-status span.ih-status-text {
          text-align: right; }
      .page.buildings .ih-list-building .ih-building-container .ih-building .ih-building-body {
        margin: 15px 0; }
        .page.buildings .ih-list-building .ih-building-container .ih-building .ih-building-body span {
          display: block;
          word-break: break-word; }
      .page.buildings .ih-list-building .ih-building-container .ih-building .ih-buttons {
        display: flex;
        justify-content: end; }
        .page.buildings .ih-list-building .ih-building-container .ih-building .ih-buttons button {
          margin-left: 10px; }

.ih-Created {
  background-color: rgba(194, 194, 194, 0.1); }

.ih-Reserved {
  background-color: rgba(6, 176, 12, 0.1); }

.ih-InProcess {
  background-color: rgba(211, 193, 0, 0.1); }

.ih-Approved {
  background-color: rgba(0, 144, 226, 0.1); }

.ih-Rejected {
  background-color: rgba(255, 163, 163, 0.1); }

.page.public-files .ih-files {
  display: flex;
  flex-wrap: wrap; }
  .page.public-files .ih-files .ih-file-container {
    margin-bottom: 15px;
    padding-left: 7px;
    padding-right: 7px; }

@media (max-width: 1199.98px) {
  .page {
    padding: 10px 0; }
  .ih-sorting {
    display: flex;
    flex-direction: column; }
    .ih-sorting button {
      margin-top: 15px; }
  .ih-list-building .ih-status {
    display: flex;
    flex-direction: column; }
    .ih-list-building .ih-status span {
      text-align: center !important; }
    .ih-list-building .ih-status button.btn-close {
      position: absolute;
      right: 0; }
  .ih-list-building .ih-building-body {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .ih-list-building .ih-buttons {
    flex-direction: column; }
    .ih-list-building .ih-buttons button {
      width: 100%;
      margin-bottom: 10px;
      margin-left: 0px !important; } }
