#updateBuilding.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Редагувати об'єкт
        button.btn-close(data-bs-dismiss='modal')

      .modal-body
        .mb-3
          label.form-label(for='updateBuildingName') Назва
          input#updateBuildingName.form-control(type="text", tabindex="1")

        .mb-3
          label.form-label(for='updateBuildingRegionName') Регіон
          input#updateBuildingRegionName.form-control(list='updateBuildingRegionNameOptions', placeholder='Введіть для пошуку...', tabindex="2")
          datalist#updateBuildingRegionName
            //- for (region of siteSettings.regions) {
            //-   option(value= region)
            //- - }
          .invalid-feedback Поле має бути заповнено

        .mb-3
          label.form-label Координати
          .input-group
            input.form-control#updateBuildingX(type='text' placeholder='x', tabindex="3")
            input.form-control#updateBuildingY(type='text' placeholder='y', tabindex="4")
            button.btn.btn-secondary#updateBuildingGetMap Вказати на мапі
            .invalid-feedback Поля мають бути заповнені

        .mb-3
          label.form-label(for='updateBuildingListEquipment') Обладнання
          input#updateBuildingListEquipment.form-control(type="text", placeholder="Введіть обладнання через кому", tabindex="2")

        .mb-3
          label.form-label(for='updateBuildingComment') Коментар
          textarea#updateBuildingComment.form-control(rows="3", disabled)

      .modal-footer
        button.btn.btn-primary#updateBuildingButton(tabindex="3") Редагувати
