#updateBuilding.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Редагувати об'єкт
        button.btn-close(data-bs-dismiss='modal')

      .modal-body
        .mb-3
          label.form-label Статус
          select#updateBuildingIsReserved.form-select(aria-describedby='isReserved', tabindex="1")
            option(value='false') Створено
            option(value='true') Зарезервовано

        .mb-3
          label.form-label(for='updateBuildingName') Назва
          input#updateBuildingName.form-control.ih-input(type="text", tabindex="2")

        .mb-3
          label.form-label(for='updateBuildingRegionName') Регіон
          input#updateBuildingRegionName.form-control.ih-input(list='updateBuildingRegionNameDatalist', placeholder='Введіть для пошуку...', tabindex="3")
          datalist#updateBuildingRegionNameDatalist
          .invalid-feedback Поле має бути заповнено

        .mb-3
          label.form-label Координати
          .input-group
            input.form-control.ih-input#updateBuildingX(type='text' placeholder='x', tabindex="4")
            input.form-control.ih-input#updateBuildingY(type='text' placeholder='y', tabindex="5")
            button.btn.btn-secondary#updateBuildingGetMap Вказати на мапі
            .invalid-feedback Поля мають бути заповнені

        .mb-3
          label.form-label(for='updateBuildingListEquipment') Обладнання
          input#updateBuildingListEquipment.form-control.ih-input(type="text", placeholder="Введіть обладнання через кому", tabindex="6")

        .mb-3
          label.form-label(for='updateBuildingComment') Коментар
          textarea#updateBuildingComment.form-control.ih-input(rows="3", disabled)

      .modal-footer
        button.btn.btn-danger#removeBuildingButton Видалити
        button.btn.btn-primary#updateBuildingButton(tabindex="7") Редагувати
