extends ../../app

block variables
	-
		const pageTitle = 'Відновити пароль';

block content
	.page.auth
		.container
			.col-xl-4.col-12.mx-auto.my-auto
				.form.bg-white
					.col-12.mx-auto
						.ih-input
							.ih-label
								span Email:
							.col-12
								.input-group
									input#email.form-control(type="email", tabindex="1")
									.invalid-feedback Поле має бути заповнено

					hr.mt-1.mb-1

					.col-12.mx-auto.ih-enterance
						.ih-enterance-actions
							.col-6
								a.link-secondary(href="/auth/login") Вхід

							.col-6.col-xl-4
								button.col-12.btn.btn-primary#restore(tabindex="2") Відновити

					hr.mt-1.mb-1

					include ./includes/contacts

block scripts
	script(src='/javascripts/web/auth/forgotPassword.js')
