extends ../../app

block variables
	-
		const pageTitle = 'Відновити пароль';

block content
	.page.auth
		.container
			.col-xl-4.col-12.mx-auto.my-auto
				.form.bg-white
					.col-12.mx-auto
						.ih-input
							.ih-label
								span Email:
							.col-12
								.input-group
									input#email.form-control(type="email", tabindex="1")
									.invalid-feedback Поле має бути заповнено

					hr.mt-1.mb-1

					.col-12.mx-auto.ih-enterance
						.row.align-items-center
							.col-8
								a.link-secondary(href="/auth/login") Вхід

							.col-4.float-end
								button.col-12.btn.btn-primary#restore(tabindex="2") Відновити

					hr.mt-1.mb-1

					.col-12.mx-auto.ih-help
						.row
							.col-1
								img(src="/images/telegram.png", alt="telegram")
							.col-11
								span @Arcdie
						
						.row
							.col-1
								img(src="/images/phone.png", alt="phone")
							.col-11
								span +38 (067) 067 06 07
						
						.row
							.col-1
								img(src="/images/envelope.png", alt="envelope")
							.col-11
								span some.mail@gmail.com

block scripts
	script(src='/javascripts/web/auth/forgotPassword.js')
