extends ../../app

block variables
	-
		const pageTitle = 'Вхід';

block content
	.page.auth
		.container
			.col-xl-4.col-12.mx-auto.my-auto
				.form.bg-white
					.col-12.mx-auto
						.ih-input
							.ih-label
								span Email:
							.col-12
								.input-group
									input#email.form-control(type="email", tabindex="1")
									.invalid-feedback Поле має бути заповнено

						.ih-input
							.row.ih-label
								.col-6
									span Пароль:
								.col-6.text-end
									a.link-secondary(href="/auth/forgotPassword") Забули пароль? 

							.col-12
								.input-group
									input#password.form-control(type="password", tabindex="2")
									.invalid-feedback Поле має бути заповнено

					hr.mt-1.mb-1

					.col-12.mx-auto.ih-enterance
						.ih-enterance-actions
							.col-7
								a.link-secondary(href="/auth/registration") Реєстрація

							.col-5
								button#login.col-12.btn.btn-primary(tabindex="3") Увійти

					hr.mt-1.mb-1

					include ./includes/contacts

block scripts
	script(src='/javascripts/web/auth/login.js')
