extends ../../app

block variables
	-
		const pageTitle = 'Реєстрація';

block content
	.page.auth
		.container
			.col-xl-4.col-12.mx-auto.my-auto
				.form.bg-white
					.col-12.mx-auto
						.ih-input
							.ih-label
								span Email:
							.col-12
								.input-group
									input#email.form-control(type="email", tabindex="1")
									.invalid-feedback Невалідний email

						.ih-input
							.ih-label
								span Пароль:
							.col-12
								.input-group
									input#password.form-control(type="password", tabindex="2")
									.invalid-feedback Пароль має містити 6 і більше символів

						.ih-input
							.ih-label
								span Ім'я:
							.col-12
								.input-group
									input#name.form-control(type="text", tabindex="3")
									.invalid-feedback Поле має бути заповнено

						.ih-input
							.ih-label
								span Компанія:
							.col-12
								.input-group
									input#companyName.form-control(type="text", tabindex="4")
									.invalid-feedback Поле має бути заповнено

						.ih-input
							.ih-label
								span Телефон:
							.col-12
								.input-group
									input#phoneNumber.form-control(type="tel", tabindex="4")
									.invalid-feedback Поле має бути заповнено

						.ih-input
							.ih-label
								span Постачальник:
							.col-12
								.input-group
									input#providerName.form-control(type="text", tabindex="6")
									.invalid-feedback Поле має бути заповнено

					hr.mt-1.mb-1

					.col-12.mx-auto.ih-enterance
						.ih-enterance-actions
							.col-3
								a.link-secondary(href="/auth/login") Вхід

							.col-9.col-xl-6
								button#register.col-12.btn.btn-primary(tabindex="7") Зареєструватися

					hr.mt-1.mb-1

					include ./includes/contacts

block scripts
	script(src='/libs/validator.min.js')
	script(src='/libs/maskinput.min.js')
	script(src='/javascripts/web/auth/registration.js')
